.time-line-container>div:last-child .education__time>.education__line {
    display: none;
}

.bigger-div {
    width: 500px;
    height: 200px;
}

  /* Reset default margin and padding */
body, html {
    margin: 0;
    padding: 0;
  }
  
  /* Style for the container */
  .container {
    max-width: 800px; /* Adjust as needed */
    margin: 0 auto; /* Center the container */
  }
  
  /* Style for the image with text */
  .image-with-text {
    margin-bottom: 20px; /* Add some space between each image/text block */
  }
  
  /* Style for the image */
  .image-with-text img {
    float: left; /* Float the image to the left */
    margin-right: 20px; /* Add some space between the image and text */
  }
  
  /* Clear the float */
  .image-with-text:after {
    content: "";
    display: table;
    clear: both;
  }