---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Software engineer with 1.5+ years of professional experience developing products for a variety of
    industries, including financial services, public-key infrastructure, and non-profit organizations.
    Proficient in a number of languages, such as JavaScript, TypeScript, and Java, with some experience
    in Python and C. Skilled in enhancing user experience through identifying solutions to bugs. Confident
    communicator who enjoys working on a team to create new features that solve difficult technical
    challenges.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelor's of Science in Computer Science with a Concentration in Software"
      subtitle="2020 to 2024 at Northeastern University, Boston, MA"
    />
    <TimeLineElement
      title="High School Diploma"
      subtitle="2016 to 2020 at Saint Anthony's High School, South Huntington, NY"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Software Engineering Co-op"
      subtitle="From May 2023 to Present at Integrity Security Services, Boston, MA"
    >
      <ul class="list-disc px-4 mb-4">
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</li>
        <li>incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</li>
        <li>exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure do</li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Technical Lead"
      subtitle="From September 2023 to Present at Code4Community, Boston, MA"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Technical Module Developer"
      subtitle="From July 2023 to August 2023 at Northeastern University, Boston, MA"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
    title="Software Developer"
    subtitle="From September 2022 to August 2023 at Code4Community, Boston, MA"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="QA Automation Engineer Co-op"
      subtitle="From July 2022 to January 2023 at MFS Investment Management, Boston, MA"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
  </TimeLineElement>
  </div>

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul> -->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>JavaScript</li>
    <li>TypeScript</li>
    <li>Node.js</li>
    <li>React.js</li>
    <li>Java</li>
    <li>Python</li>
    <li>C</li>
    <li>SQL</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>AWS EC2</li>
    <li>AWS Cognito</li>
    <li>AWS Lambda</li>
    <li>Docker</li>
    <li>Terraform</li>
    <li>Jenkins</li>
  </ul>
</BaseLayout>
