---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/resume/TimeLine.astro";
---

<BaseLayout title="James Colesanti | Resume" sideBarActiveItemID="resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Software engineer with 1.5+ years of professional experience developing products for a variety of
    industries, including financial services, public-key infrastructure, and non-profit organizations.
    Proficient in a number of languages, such as JavaScript, TypeScript, and Java, with some experience
    in Python and C. Skilled in enhancing user experience through identifying solutions to bugs. Confident
    communicator who enjoys working on a team to create new features that solve difficult technical
    challenges.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelor's of Science in Computer Science with a Concentration in Software"
      subtitle="2020 to 2024 at Northeastern University, Boston, MA"
    />
    <TimeLineElement
      title="High School Diploma"
      subtitle="2016 to 2020 at Saint Anthony's High School, South Huntington, NY"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Software Engineering Co-op"
      subtitle="From May 2023 to Present at Integrity Security Services, Boston, MA"
    >
      <ul class="list-disc px-4 mb-4">
        <li>Engineered 10 full-stack features for React.js and Node.js-based public-key infrastructure management website, improving functionality and user experience across the platform</li>
        <li>Resolved 14 production code issues, notably addressing critical release blocker in product's mutual authentication feature</li>
        <li>Integrated OpenAPI schema to validate REST API endpoints, ensuring adherence to industry standards and enhancing system reliability</li>
        <li>Designed and executed robust state management system for REST API, enabling secure boot functionality for tens of thousands of Zynq UltraScale+ devices</li>
        <li>Utilized Terraform to provision AWS EC2 instances and created relevant documentation on Confluence</li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Technical Lead"
      subtitle="From September 2023 to Present at Code4Community, Boston, MA"
    >
      <ul class="list-disc px-4 mb-4">
        <li>Managed team of four developers, collaborating with two other team leads to write feature-based tickets</li>
        <li>Oversaw organization's AWS account, configuring essential services such as DynamoDB, Cognito, and Lambda to support diverse team operations and initiatives</li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Technical Module Developer"
      subtitle="From July 2023 to August 2023 at Northeastern University, Boston, MA"
    >
      <ul class="list-disc px-4 mb-4">
        <li>Authored two comprehensive cybersecurity modules for a seminar taken by over 500 students, covering crucial topics including threat modeling, social engineering, and cryptography</li>
        <li>Created six interactive quizzes using the Canvas Learning Management System, reinforcing key concepts and material covered in the modules</li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
    title="Software Developer"
    subtitle="From September 2022 to August 2023 at Code4Community, Boston, MA"
    >
      <ul class="list-disc px-4 mb-4">
        <li>Developed two products in React.js/TypeScript as part of Northeastern University’s only student led collective for charitable software development</li>
        <li>Led discussions at biweekly all-hands meetings to update rest of organization on team’s progress</li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="QA Automation Engineer Co-op"
      subtitle="From July 2022 to January 2023 at MFS Investment Management, Boston, MA"
    >
      <ul class="list-disc px-4 mb-4">
        <li>Automated UI and functional testing for release of identity management software by developing Java scripts</li>
        <li>Engineered proactive cyber-attack email alert system that conducts hourly scans of over 100 applications, promptly notifying relevant development teams about any ongoing attacks in production</li>
        <li>Collaborated with lead engineer to craft 10 performance-testing scripts in Java, instrumental in evaluating and optimizing the company's primary website's functionality and efficiency</li>
        <li>Deployed over a dozen new features to existing automation libraries through a Jenkins CI/CD pipeline</li>
      </ul>
  </TimeLineElement>
  </div>

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul> -->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>JavaScript</li>
    <li>TypeScript</li>
    <li>Node.js</li>
    <li>React.js</li>
    <li>Java</li>
    <li>Python</li>
    <li>C</li>
    <li>SQL</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>AWS EC2</li>
    <li>AWS Cognito</li>
    <li>AWS Lambda</li>
    <li>Docker</li>
    <li>Terraform</li>
    <li>Jenkins</li>
  </ul>
</BaseLayout>
